@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "About";
}
<h1 class="text-center">About Us</h1>
<h4 class ="text-center"><p>Welcome you to My StarLight hotel.</p></h4>
<h4 class ="text-center"><p>This is the best hotel and providing excellent facilities , food , services </p></h4>
<h4 class="text-center"><p>The StarLight Hotel is unique as an accommodation, meeting and dining destination, with three distinctive restaurants, two lounges and state of the art SPA with the Sports Center.
The dedicated Hotel Staff is trained to see to your every need with attention to every detail. We offer an extensive list of services, spacious hotel accommodations and professional staff who are sure to meet the expectations of every traveler. </p></h4>
