<div class="container-fluid mx-4">
    <div class="row justify-content-md-center">
        <div class="col-md-auto mx-2" style="max-height:fit-content; max-width:fit-content">
            <img src="~/Images/img-1.jpg" alt="Image 1" />
            <hr />
        </div>
        <div class="col-md-auto mx-2">
            <img src="~/Images/img-2.jpg" alt="Image 2" style="max-height:fit-content; max-width:600px"/>
            <hr />
        </div>
        <div class="col-md-auto mx-2">
            <img src="~/Images/img-3.jpg" alt="Image 3" style="max-height:fit-content; max-width:600px"/>
            <hr />
        </div>
        <div class="col-md-auto mx-2">
            <img src="~/Images/img-4.jpg" alt="Image 4" style="max-height:fit-content; max-width:600px"/>
            <hr />
        </div>
        <div class="col-md-auto mx-2">
            <img src="~/Images/img-5.jpg" alt="Image 5" style="max-height:fit-content; max-width:600px"/>
            <hr />
        </div>
        <div class="col-md-auto mx-2">
            <img src="~/Images/img-6.jpg" alt="Image 6" style="max-height:fit-content; max-width:600px"/>
            <hr />  
        </div>
    </div>
    
</div>

