@{
    ViewBag.Title = "Services";
}

<div class="container">
    <h2>Services</h2>
    <div>There are various services provided by our Hotel. You may have a peak to some of them.</div>
    <div class="row my-3">
        <h5>Cleaning: </h5>
        <p class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia culpa recusandae maxime, dolore magnam impedit optio nulla accusamus, reprehenderit quis voluptatibus voluptatum non eaque quas voluptas eligendi aliquam placeat voluptatem magni laudantium. Ex, quasi. At atque officia voluptates placeat a doloribus libero repudiandae commodi earum animi. Ipsa distinctio voluptatem quam?</p>
        <img class="col" src="https://images.unsplash.com/photo-1580256081112-e49377338b7f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80" style="width:400px; height:500px" /> 
    </div>
    <div class="row">
        <h5>Food: </h5>
        <p class="col">Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, fugit tenetur? Enim odio, consequuntur doloremque sequi sint, eum voluptatem dolorum molestiae eligendi, qui tempora atque vitae similique voluptate architecto laboriosam?</p>
        <img class="col" src="https://images.unsplash.com/photo-1596701062351-8c2c14d1fdd0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" style="width:400px; height:500px"/>
    </div>
</div>
